@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Montserrat:wght@100&family=Poppins:ital,wght@1,300&family=Roboto+Slab:wght@400;800&family=Sora:wght@100&family=Tai+Heritage+Pro:wght@700&display=swap');

nav {
    background-color: rgb(185, 211, 234);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    position: fixed;
    z-index: 99;
    width: 100%;


}

nav ul li {
    list-style: none;
    margin: 0 1rem;
}

nav ul {
    display: flex;
}

@media only screen and (max-width:576px) {

    .nav {
        display: flex;
        justify-content: space-between;
        width: 90%;
        background-color: rgb(185, 211, 234);
        align-items: center;
        height: 5rem;
        position: fixed;
        z-index: 99;
        width: 100%;

    }

    .nav-item {
        display: none;
    }

    .mobile-menu {
        position: fixed;
        z-index: 99;
        display: flex;
        opacity: 0;
        transition: opacity 1s linear;
        justify-content: end;
        margin-top: 5rem;
        width: 18rem;

    }

    .mobile-menu.visible {
        opacity: 1;
    }

    .nav-elements {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        background-color: aliceblue;
        border-bottom-right-radius: 15rem;

    }

    .nav-elements li {
        padding-left: 2rem;
        padding: 1rem;

    }

    .menu {
        max-width: fit-content;

    }

    .close {
        position: absolute;
        right: 0.5rem !important;
        top: 0.5rem !important;
        width: 3rem;
        height: 2rem;
        color: rgb(236, 120, 120);


    }
}

@media only screen and (max-width:576px) {
    .image img {
        width: 100% !important;
        height: 20rem !important;
        position: relative !important;


    }
}

.image img {
    width: 100%;
    height: 40rem;
    position: relative;

}

.image .info {
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    left: 10%;
    font-size: x-large;
    font-family: 'Poppins' sans-serif;
}

@media screen and (max-width: 450px) and (min-height:800px) {

    .image .info {
        position: absolute;
        top: 20%;
        display: flex;
        flex-direction: column;

        left: 10%;
        font-family: 'Poppins' sans-serif;
    }
}

@media screen and (max-width: 576px) {
    .image .info {
        font-size: small;
        top: 20%;
    }

    .image .info h1 {
        font-size: small;

    }
}



.image .info .span {
    font-weight: 300;
}


/* Personal Details */
.title {
    padding: 3rem;
    font-size: x-large;
    font-variant: small-caps;
    font-weight: 500;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .Left {
    display: flex;
    justify-content: center;
}

.container .Left img {
    border-radius: 50%;
    /* width: 80%;
    height: 100%; */
    object-fit: cover;
    object-position: 40% 2%;

}

.menuIcon {
    border-width: 2rem;
    border-color: black;
    height: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

.container .Right {
    width: 30rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container .Right .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;

}

#btn {
    background-color: rgb(63, 63, 238);
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: larger;
    border-radius: 2rem;
    font-weight: 600;
    border: none;
}

#btn:hover {
    background-color: rgb(217, 217, 223);

}

.Experiences {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18rem;


}

.programmingLanguages {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.icon {

    width: 3rem;
}

.icon:hover {
    transform: scale(2);
}

.certificates {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.workshops {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.file {
    cursor: pointer;
    margin-top: 2rem;
    font-size: large;
}

.file:hover {
    transform: scale(1.2);
    color: blue;
    font-style: oblique;

}


/* footer */
footer {

    background-color: rgb(79, 142, 244);
    padding: 3rem;
    margin-top: 4rem;


}

.icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.contact {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links:hover {
    color: blue;
    transform: scale(1.1);

}